/*Логотип*/

.logo {
  font-family: $font-logo;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  line-height: 31px;

  &-one {
    color: $accent-color;
  }
  &-two {
    color: $logo-color-studio;
  }
}
.logo-two-footer {
  color: $primary-white-color;
}
