
.oll-link,
.list, .oll__item, .oll-set {@extend %list};
.oll-set
 { 
  @media screen and (min-width:$tablet) {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;}
  }

.filtr {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
 padding-bottom:60px ;
}
.item-filtr {
  display: block;
 
   
  margin: 8px;
}
.section-portfolio > .list {
  @extend %list;
}
.button-filtr {
   padding: 6px 22px;
    height: 38px;
    background:$button-secondary-icon-background;
    border-radius: 4px;
    border: 0;
    color:$text-title-button-secondary;
    overflow: hidden;  
    font-weight: 500;    
    font-size: 16px;
    line-height: 1.62px;
    text-align: center;
    letter-spacing: 0.03em;
    

    &:hover,
    &:focus {
    color: $accent-color;
    background-color: $form-input-border-color;
    border: 2px solid $accent-color;
    }
}

.oll__item{
  @media screen and (max-width:767px) {
    &:not(:last-child){
      margin-bottom: 30px;
  }}

  //display: block;
  //
  // width: 100%;
  // 
  // height: auto;


  @media screen and (min-width:$tablet) {
    //width: 354px;;
    //height: 404px;
    flex-basis:calc((100%-2*30)/2);
    margin: 15px;} 
 
    @media screen and (min-width:$desktop) {
     // width: 370px;
     flex-basis:calc((100%-3*30)/3);
    }
  
}

.oll__item>.oll-link {
  display:block;  
  border: 1px solid $border-portfolio;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px $shadow-four, 0px 4px 4px $shadow-five,
      0px 1px 1px $shadow-three;
  } 
 
}
.oll-image {
  display: block; 
  position: relative;
  overflow: hidden;
  max-width: 100%;
  min-width:auto;
  //354px ;
  margin: 0 auto;
}

.oll-overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  // 450px;
  height: auto;
  background-color: $background-text-card;
  transform: translateY(100%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;

  .oll-link:hover & {
    transform: translateY(-0.5%);
    opacity: 1;
  }
 
}
.section-portfolio {
  border: 0;
  border-top: 1px solid $border-portfolio-line;

  background-color: $primary-white-color;
}
.card-portfolio {
  width: 100%;
  display: block;
  padding: 20px 15px;
  height: 110px;

  }
.text-card {
  //display: flex;
  //align-items: center;
  //justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  //padding: 63px 24px;
  color: $primary-white-color;
  padding: 77px 24px;
  //padding-bottom: 150px;
  
}

.hero-text-card {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $text-title-button-secondary;
  margin-bottom: 4px;
  text-align:left;

}
.p-card {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $text-body-color;
}
