/*Общее*/
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: $font-default;
  color: $text-body-color;
  cursor: pointer;
}
body.modal-open {
  overflow: hidden;
}

html {
  box-sizing: border-box;
}
.invisible {
  display: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;  
}

.icon-social {
  
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.social-icon > .item-social:not(:last-child) {
  margin-right: 10px;
}

//.list a {
//  text-decoration: none;
//}
//.list,
//p {
//  margin: 0;
//  padding: 0;
//  list-style: none;
//}
//ul {
//  list-style-type: none;
//}
//
//.not-paddig-bottom {
//  padding-bottom: 0px;
//}
//.link {
// display: block;
//}
//////
//link > .button-secondary {
//  text-decoration: none;
//}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

//main {
//  letter-spacing: 0.03em;
//  background-color: green;
//}
//
///*Общие заголовки Студия*/
///*
.hero-two {
  font-weight: 700;
  text-align: center;
  color: $text-title-button-secondary;
}
//
.hero-three {
  font-weight: 700;
  color: $text-title-button-secondary;
}

//
//
//
//  &-start {
//    width: 70px;
//    height: 70px;
//  }
//  &-cart {
//    height: 162px;
//    background: $primary-white-color;
//    padding-left: 0px;
//  }
//}
//
