$primary-white-color: #ffffff;
$accent-color: #2196f3;
$hero-fone: rgba(47, 48, 58, 0.8);
$text-body-color: #757575;
$text-social-links: #afb1b8;
$border-portfolio-line: #ececec;
$logo-color-studio: #000000;
$text-title-button-secondary: #212121;
$button-secondary-icon-background: #f5f4fa;
$background-text-card: rgba(33, 150, 243, 0.9);
$background-footer: #2f303a;
$text-adress-footer: rgba(255, 255, 255, 0.6);
$text-after-footer: rgba(255, 255, 255, 0.4);
$fone-social-footer: rgba(255, 255, 255, 0.1);
$shadow-one: rgba(0, 0, 0, 0.2);
$shadow-two: rgba(0, 0, 0, 0.14);
$shadow-three: rgba(0, 0, 0, 0.12);
$shadow-four: rgba(0, 0, 0, 0.16);
$shadow-five: rgba(0, 0, 0, 0.06);
$border-portfolio: #eeeeee;
$hero-backdrop-bg-color: rgba(0, 0, 0, 0.2);
$button-form-close-border: rgba(0, 0, 0, 0.1);
$form-input-border-color: rgba(33, 33, 33, 0.2);
$button-form-box-shadow-color: rgba(0, 0, 0, 0.15);
$footer-input-border-color: rgba(255, 255, 255, 0.3);
$font-logo: "Raleway", sans-serif;
$font-default: "Roboto", sans-serif;
